Package: mysqljavacat
Source: mysqljavacat
Version: 0.2.18
Architecture: all
Depends: openjdk-6-jre
Pre-Depends: 
Recommends: sun-java6-jre
Maintainer: Strelok [steel_heart@bk.ru]
Conflicts: 
Replaces: 
Provides: MysqlJavaCat
Description: Simple mysql dev tool
